* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.number-info {
    width: 50%;
    height: 100%;
    vertical-align: middle;
    float: left;
}

.boxes {
    width: 220px;
    height: 100px;
    background-color: #eee;
    border: 1px solid #ddd;
    margin: 5px;
    border-radius: 5px;
}