* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

#columns {
    -webkit-column-count: 1;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 1;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 1;
    column-gap: 15px;
    column-fill: auto;
}

#columns > div {
    width: 100%;
    height: 100px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.number-info {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #333;
    transition: all 0.5s ease-in-out;
}

.third .number-info {
    color: #FFF;
}

.btn {
    cursor: pointer;
}

.btn.remove-button {
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 0.5s ease-in-out;
}

.change-label {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    bottom: 7px;
    right: 12px;
    color: #FFF;
    width: 86px;
    height: 28px;
    transition: all 0.5s ease-in-out;
}

.third {
    background-color: #28a745!important;
    border-color: #28a745!important;
    cursor: pointer;
}

.third.changed {
    height: 260px!important;
    border-radius: 100%!important;
    background-color: #ffc107!important;
    border-color: #ffc107!important;
    transition: all 1s ease-in-out;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75)!important;
    -moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75)!important;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75)!important;
}

.third.changed .btn.remove-button {
    top: 50%;
    left: 50%;
    margin-left: -50px;
    background-color: #111;
    border-color: #111;
    transition: all 1s ease-in-out;
}

.third.changed .change-label {
    color: #111;
    width: 90px;
    height: 30px;
    right: 50%;
    margin-right: -45px;
    font-size: 25px;
    bottom: 50px;
    font-size: 20px;
    text-align: center;
    transition: all 1s ease-in-out;
}

.third.changed .number-info {
    color: #111;
    width: 100%;
    top: 65px;
    font-size: 30px;
    text-align: center;
    left: 0;
}

@media (min-width: 580px) {
    #columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 870px) {
    #wrapper {
        max-width: 860px;
    }

    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}